// Body
$body-bg: #F8F8FF;
$co1 :#010B13;
$co2 : #000080;
$co3 : #C4C3D0;
$co5 : #F5F5DC;
$co6 : #FF7F00;
$co7 : #800000;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
